<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByBk3B4p8I6ZGiZfd_pcilZhSQTAhS2N0</string>
	<key>GCM_SENDER_ID</key>
	<string>717550852399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qoofhouse.collaralert</string>
	<key>PROJECT_ID</key>
	<string>locate-alert</string>
	<key>STORAGE_BUCKET</key>
	<string>locate-alert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717550852399:ios:070bd100570e2274c6a9da</string>
	<key>DATABASE_URL</key>
	<string>https://locate-alert-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>